<ion-header translucent="true">
    <ion-toolbar color="tertiary">
      <ion-title>
        Calcula Perimetro
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
        <ion-img src="http://www.lorempixel.com/350/140/abstract"></ion-img>
        <ion-card-header>
          <ion-card-title>Perimetro Rectangulo</ion-card-title>
          <ion-card-subtitle>Calcula el perimetro de un rectangulo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon name="arrow-dropright"></ion-icon>
            <ion-input placeholder="Digite base" [(ngModel)]="base"> </ion-input>
            <ion-icon name="arrow-dropright"></ion-icon>
            <ion-input placeholder="Digite altura" [(ngModel)]="altura"></ion-input>
          </ion-item>
          <ion-button (click)="getPerimeter()" expand="full" color="tertiary">
            Calcular
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-item>
        <ion-label>
          {{ rest }}
        </ion-label>
      </ion-item>
  </ion-content>
